#demoContainer {
    position:relative;
}
#connectControls {
    float:left;
    width:32rem;
    text-align:center;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}
#otherClients {
    height:200px;
    overflow-y:scroll;
}
#callerAudio {
    /* display:none; */
    height:10em;
    width:10em;
    margin-left:10px;
}
#acceptCallBox {
    display:none;
    z-index:2;
    position:absolute;
    top:10rem;
    left: 55rem;
    border:black solid 2px;
    box-shadow: 0.35rem 0.35rem purple;
    padding:15px;
}


header{
    position: fixed;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 2.125rem;
    width: 100%;
    background-color: purple;
    
}

header ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    row-gap: 0.75rem;

}

header li{
    padding: 2rem;
}
header a{
    text-decoration: none;
    color: white
}

header a.active{
    font-weight: bold;
    color: purple
}

header a:hover{
    color: black;
    font-weight: bold;
}

.alert img {
    float:left;
    padding-right: 10px;
}
#sendMessageArea{
    float:left;
    width:400px;
    padding-right:20px;
}
#sendMessageText{
    width:100%;
}
#conversation {
    height:300px;
    border:solid 1px gray;
    overflow-y:scroll;
}

#container{
    position: relative;
    top: 5rem;
}

footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 4rem;
    background-color: rgba(35, 34, 34, 0.877);
    color: white;
    padding: 3rem;
    border-top: 3px solid black;
    font-size: 1.5rem;
}


.banner{
    color:white;
    font-family: 'Rubik Maze', cursive;
    background-image: linear-gradient(to right, rgba(50, 70, 80, 0.555), rgba(31, 20, 150, 0.26)),url("../images/call.avif");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    padding: 2rem;
  }

  #iam{
    padding: 1rem;
  }

  textarea{
    border: 2px solid black;
    box-shadow: 0.125rem 0.125rem purple;
    padding: 1rem;
    margin-bottom: 1rem;
  }


  button:disabled{
    background-color: white;
    color: rgba(237, 229, 229, 0.034);
    display: none;
  }

  button{
    cursor: pointer;
    margin: 0.25rem;
    background-color: purple;
    padding: 1rem;
    font-weight: bold;
    color: white;
    box-shadow: 0.125rem 0.125rem black;
  }

  button:hover{
    background-color: white;
    color: black;
  }

  #receiveMessageArea{
    padding: 1rem;
  }

  #conversation{
    margin-top: 1rem;
    box-shadow: 0.35rem 0.35rem purple;
    border: 2px solid black;
  }

  footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    row-gap: 0.75rem;
    padding: 2rem;
}

footer li{
    cursor: pointer;
}

footer li:hover{
    color: black;
}